# Default ignored files
/../../../../VÅR1/Programmering 2/MultipleChoiceMachine/.idea/shelf/
/../../../../VÅR1/Programmering 2/MultipleChoiceMachine/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../VÅR1/Programmering 2/MultipleChoiceMachine/.idea/httpRequests/
# Datasource local storage ignored files
/../../../../VÅR1/Programmering 2/MultipleChoiceMachine/.idea/dataSources/
/../../../../VÅR1/Programmering 2/MultipleChoiceMachine/.idea/dataSources.local.xml
